@import "@styles/settings/__settings";

.hero {
    height: 100vh;    
    // background: linear-gradient(rgba(7, 5, 1, 0.7), rgba(15, 10, 2, 0.7)), url("../../assets/hero_v2.jpg") center/cover no-repeat;
    background:  url("../../assets/hero_v2.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(100vh/8);
    flex-wrap: wrap;
    align-content: space-between;
    
}
