@import "@styles/settings/__settings";

.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(55, 39, 11, 0.7)), url("../../assets/hero_v2.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: calc(100vh/8);
    flex-wrap: wrap;
    align-content: space-between;
}