@import "@styles/settings/__settings";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

:root {
  --color-background: rgb(244, 246, 244);
  --color-gray: #D2D0CA;
  --color-bg-dark: #b08968;
  --color-text: #211D1A;
  --transition: all 0.6s linear;
  --transition-long: all 2s linear;
}
