@import "@styles/settings/__settings";

.mainContainer {
  // background-color: #FBDAC6;
  background-color: $color-background;
}

.header {
  font-size: 2em;
}
.foldertitle{
  
  font-size: 2rem;
  color: $color-button-all;
  font-family: $font-banner;
  font-weight: 700;
  margin: 2rem 0;
}

.folders {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  



  li {

    border: solid 2px gray;

    &:hover,
    &[data-active-folder="true"] {
      border-color: blueviolet;
    }

  }

  button {
    display: block;
    width: 100%;
    padding: 1em;
    background: white;
    border: none;
    cursor: pointer;
  }

}

.images {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0.2em;
}

.imageTitle {
  font-size: 0.8em;
  text-align: center;
  font-weight: 500;
  // margin: .4em 0 0;
  
}

.imageImage {

  & > div {
    display: block!important;
  }
    height: 100px;    
    display: block;
    margin: auto;
    position: relative;

}


.imageContainer {
  border: 2px solid $color-button-all;  
  height: auto;
  margin: 0;
  padding: 0;
  background-color: white;
}

.imageContainer:hover {
  cursor: pointer;


}

// .logo {
//   width: 100vw;
//   padding-left: 3rem;
//   padding-top: 5rem;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }

// .logoImg {
//   // display: block;
//   padding: 10px;
//   background-color: white;
//   height: 80px;
//   border-radius: 50%;
//   border: $color-yellow solid 1px;
//   opacity: 0.6;
//   transition: $transition;
// }
// .logoImg:hover {
//   background-color: $color-yellow;
//   transition: $transition;
// }

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}