@import "@styles/settings/__settings";

.topics {
    width: 90%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    // background: var(--color-background);
    // background: #c6bec6;
}