@import "@styles/settings/__settings";

.navbar {
    padding: 60px;
    color: white;
    display: flex;
}
.navbar > div {
    padding: 5px 15px;
    margin: 20px;
    
    background-color: transparent;
    border-radius: 30px;
    border: $color-yellow solid 1px;
    cursor: pointer;
    transition: $transition;
}

.navbar > div:hover {
    background-color: $color-yellow;
    transition: $transition;
}