$color-header-background: #04072D;
$color-header-links: #CBD2FF;
$color-button-background: #b7cdc7;
// $color-footer-background: #5e877c;
// $color-footer-background: #A34129;
$color-footer-background: #562447;

// $color-background: rgb(244, 246, 244);
$color-background: #e0dae9;

// $color-button-all: #F0803C;
$color-button-all: #8a49ab;

$color-arrow: #cabfd0;
$color-arrow-hover: #7d6a8d;