@import "@styles/settings/__settings";

.box {
    // padding: 5px;
    border: 2px solid $color-button-all;
    // border-radius: 2px;
    background-color: white;
    /* display: flex;
    flex-direction: column; */

}

.boximage {
    /* width: 100%; */
    height: 200px;
    display: block;
    margin: auto;
    position: relative;
    
   
}

.container {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 1fr;
    align-content: stretch;
    // background-color: #f3e2ee;
    background-color: white;
}

.container h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-banner;
}

.btncontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.btnmain {
    width: 80%;
    // background-color: $color-button-background;
    background-color: $color-button-all;
    border: 2px solid $color-button-all;
    margin: auto;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    margin-top: 1rem;
    font-weight: 700;
    transition: $transition-long;
    font-size: 0.8rem;
    font-family: $font-banner;
    text-transform: uppercase;
}

.btnmain:hover {
    background-color: transparent;
    transition: var(--transition);
}

.btnlink a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;

}