@import "@styles/settings/__settings";

.banner {
    // display: inline-block;
    // text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding: 2rem 1rem;
    width: 100%;
    height: 100vh;
    // background-color: #3f273f;
    // min-height: 100vh;
    opacity: 0.9;

}

.bannerTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.banner h1,
.banner h2 {
    color: #eee;
    // text-shadow: 5px 3px #333;
    font-family: $font-banner;
}

.greeting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.greeting h1 {
    font-size: 6rem;
    letter-spacing: 3px;
    /* text-shadow: 5px 3px #333; */
//    color: #946fa7;
   color: #96620D;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.7);
// color: black;
   letter-spacing: 10px;
   font-weight: 100;
   font-family: $font-banner-second-row;
   margin-bottom: 20px;
   padding: 20px;
   
}

.banner h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 2rem;
    letter-spacing: 6px;
    font-family: $font-banner-first-row;
    // color: rgb(189, 145, 49);
    color:#96620D;
    width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        text-align: center;
    // color:black;
}

// .banner p {
//     color: #eee;
//     padding: 0.8rem;
//     text-transform: uppercase;
//     width: 12rem;
//     margin: auto;
//     margin-top: 3rem;
//     border-radius: 5px;
//     border: #eee solid 2px;
//     // text-shadow: 5px 3px #333;
//     background-color: transparent;
//     font-size: 1rem;
//     transition: var(--transition);
//     font-weight: 600;
//     letter-spacing: 2px;
//     font-family: $font-banner;
// }

// .banner p:hover {
//     // background-color: #d79233;
//     // background-color: #ff531f;
//     background-color: rgb(189, 145, 49);
//     transition: var(--transition);
// }

// .change {
//     // width: 100px;
//     display: block;
//     color: black;
//     background-color: red;
// }

.logo {
    width: 100%;
    padding-left: 3rem;
    padding-top: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    padding: 15px 25px;
    background-color: white;
    // height: 80px;
    border-radius: 50%;
    border: $color-yellow solid 1px;
    opacity: 0.6;
    transition: $transition;
}

.logoImg:hover {
    background-color: $color-yellow;
    transition: $transition;
}

.change {
    // width: 100px;
    display: block;
    color: black;
    background-color: red;
}

@media screen and (max-width:'1250px') {
    .banner h1 {
        font-size: 4rem;
    }

    .banner h2 {
        font-size: 1rem;
    }
}

@media screen and (max-width:'750px') {
    .banner h1 {
            font-size: 3rem;
        }
    
        .banner h2 {
            font-size: 0.8rem;
        }
}

@media screen  and (max-width:'650px'){
    .banner {
        padding: 0.5rem;
        text-align: center;
    }
    .logo {
        display: none;
    }
}