@import "@styles/settings/__settings";

.banner {
    display: inline-block;
    text-align: center;
    padding: 2rem 1rem;
    width: 100vw;
  
    // background-color: #3f273f;
    // min-height: 100vh;
    opacity: 0.9;

}

.banner h1,
.banner h2 {
    color: #eee;
    // text-shadow: 5px 3px #333;
    font-family: $font-banner;
}

.banner h1 {
    font-size: 6rem;
    letter-spacing: 3px;
    /* text-shadow: 5px 3px #333; */
//    color: #946fa7;
   color: white;
   letter-spacing: 10px;
   font-weight: 100;
   font-family: $font-banner-second-row;
   margin-top: 10rem;
   
}

.banner h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 2rem;
    letter-spacing: 6px;
    font-family: $font-banner-first-row;
    // color: rgb(189, 145, 49);
    color:white;
}

.banner p {
    color: #eee;
    padding: 0.8rem;
    text-transform: uppercase;
    width: 12rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 5px;
    border: #eee solid 2px;
    // text-shadow: 5px 3px #333;
    background-color: transparent;
    font-size: 1rem;
    transition: var(--transition);
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $font-banner;
}

.banner p:hover {
    // background-color: #d79233;
    // background-color: #ff531f;
    background-color: rgb(189, 145, 49);
    transition: var(--transition);
}

.change {
    // width: 100px;
    display: block;
    color: black;
    background-color: red;
}

.logo {
    width: 100vw;
    padding-left: 3rem;
    padding-top: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    padding: 15px 25px;
    background-color: white;
    // height: 80px;
    border-radius: 50%;
    border: $color-yellow solid 1px;
    opacity: 0.6;
    transition: $transition;
}

.logoImg:hover {
    background-color: $color-yellow;
    transition: $transition;
}

.change {
    // width: 100px;
    display: block;
    color: black;
    background-color: red;
}