@import "@styles/settings/__settings";

.banner {
    display: inline-block;
    text-align: center;
    padding: 2rem 1rem;
    width: 100vw;
  
    // background-color: #3f273f;
    // min-height: 100vh;
    opacity: 0.9;

}

.banner h1,
.banner h2 {
    color: #eee;
    // text-shadow: 5px 3px #333;
    font-family: $font-banner;
}

.banner h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    /* text-shadow: 5px 3px #333; */
   
}

.banner h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 6rem;
    letter-spacing: 2px;
    
}

.banner p {
    color: #eee;
    padding: 0.8rem;
    text-transform: uppercase;
    width: 12rem;
    margin: auto;
    margin-top: 3rem;
    border-radius: 5px;
    border: #eee solid 2px;
    // text-shadow: 5px 3px #333;
    background-color: transparent;
    font-size: 1rem;
    transition: var(--transition);
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $font-banner;
}

.banner p:hover {
    // background-color: #d79233;
    // background-color: #ff531f;
    background-color: $color-footer-background;
    transition: var(--transition);
}